<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repository Management</title>
    <link rel="stylesheet" href="static/account.css">
</head>
<body>
    <div class="navbar" style="background-image: url('static/background.png');">
        <input type="text" id="searchRepo" placeholder="Find a repository...">
        <button onclick="window.location.href='/new_repository_creator';">+ New</button>
    </div>

    <div class="user-section">
        <img src="static/chrome.png" alt="User Avatar">
        <div class="username">{{ username }}</div>
        <button>INFO</button>
        <button>Edit profile</button>
        <button onclick="window.location.href='/logout';">log out</button>
    </div>

    <div class="repositories">
        <h2>My repositories</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Creation Date</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for repo in repositories %}
                <tr>
                    <td>{{ repo[0] }}</td>
                    <td>{{ repo[1] }}</td>
                    <td>{{ repo[2] }}</td>
                    <td>{{ repo[3] }}</td>
                    <td><button onclick="window.location.href='/view_commit?rep_id={{ repo[0] }}';">View</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>