<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commit List</title>
    <link rel="stylesheet" href="static/commit_list.css">
</head>
<body>
    <div class="repositories">
        <h2>Commit List</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Creation Date</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for commit in commits %}
                <tr>
                    <td>{{ commit[0] }}</td>
                    <td>{{ commit[1] }}</td>
                    <td>{{ commit[2] }}</td>
                    <td>{{ commit[3] }}</td>
                    <td><button onclick="window.location.href='/commit_files?commit_id={{ commit[0] }}';">View</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>