<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="static/signup.css">
</head>
<body>
    <div class="login-container">
        <h2>sign up</h2>
        <input type="text" placeholder="Username" class="input-field">
        <input type="password" placeholder="Password" class="input-field">
        <button class="button signup-button">sign up</button>
    </div>
</body>
</html>